@import "tailwindcss";

@theme {
  --color-background: var(--background-color);
  --color-surface: var(--surface-color);
  --color-foreground: var(--text-color);
  --color-muted: var(--text-muted-color);
  --color-primary: var(--primary-color);
  --color-border: var(--border-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
