@import "tailwindcss";

@theme {
  /* Neutral colors */
  --color-background: var(--background-color);
  --color-surface: var(--surface-color);
  --color-foreground: var(--text-color);
  --color-muted: var(--text-muted-color);
  --color-border: var(--border-color);

  /* Intent colors */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-destructive: var(--destructive);
}

:root {
  --code-background-color: #030712;
  --code-text-color: #34d399;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
