.toast--info {
  background-color: var(--info);
}

.toast--success {
  background-color: var(--success);
}

.toast--warning {
  background-color: var(--warning);
}

.toast--error {
  background-color: var(--error);
}

.toast-icon--info {
  color: var(--text-color);
}

.toast-icon--success {
  color: var(--text-color);
}

.toast-icon--warning {
  color: var(--text-color);
}

.toast-icon--error {
  color: var(--text-color);
}
